<header class="header">
    <nav class="navbar content-wrap">
        <a class="logo" href="#">StayHealthy</a>
        <ul class="menu-list">
            <li class="menu-list__item menu-list__item_active"><a href="#">Home</a></li>
            <li class="menu-list__item"><a href="#">Program</a></li>
            <li class="menu-list__item"><a href="#">Nutrition's</a></li>
            <li class="menu-list__item"><a href="#">Pricing</a></li>
            <li class="menu-list__item"><a href="#">About</a></li>
        </ul>
        <button class="navbar__join-button join-button">Join Now</button>
    </nav>
</header>