<article class="home-page">
    <div class="content-wrap">
        <section class="home-page__heading heading">
            <span class="home-page__title title">WELCOME TO THE CLUB</span>
            <p class="home-page__subtitle subtitle">
                Choose Your Programs,<br>
                Pick Your Meal,<br>
                Let’s Get Healthy.
            </p>
            <p class="home-page__description description">StayHealthy provides Online Training, and Consultation About Diet
                and Exercise tailored based <br> on user needs. We will provide a training model that can be accessed
                anytime and<br> anywhere with the best trainers.</p>
        </section>
        <section class="home-page__primary-buttons">
            <button class="home-page__join-button join-button">Join Now</button>
            <button class="home-page__contact-button">Contact Us</button>
        </section>
        <section class="home-page__player">
            <button class="home-page__play-btn"></button>
            <img class="home-page__bordered-image bordered-image" src="./img/home/video.jpg" alt="header-bottom-image.jpg">
        </section>
    </div>
</article>
