<article class="program-page">
    <div class="content-wrap">
        <section class="program-page__heading heading">
            <span class="program-page__title title">PROGRAMS</span>
            <p class="program-page__subtitle subtitle">
                We Have A Programs To Help <br> Your Workouts
            </p>
        </section>
        <section class="program-page__cards cards">
            <article class="product-card card">
                <img src="./img/program/card-img-bodyweight.jpg" alt="product-image.jpg" class="product-card__image bordered-image ">
                <h3 class="product-card__title">Full Body Workout</h3>
                <p class="product-card__author">By The Rock</p>
                <p class="product-card__description description">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
                <a href="#" class="product-card__button">Check out this program!</a>
            </article>

            <article class="product-card card">
                <img src="./img/program/card-img-dumbel.jpg" alt="product-image.jpg" class="product-card__image bordered-image">
                <h3 class="product-card__title">Full Body Workout</h3>
                <p class="product-card__author">By The Rock</p>
                <p class="product-card__description description">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
                <a href="#" class="product-card__button">Check out this program!</a>
            </article>

            <article class="product-card card">
                <img src="./img/program/card-img-fullbody.jpg" alt="product-image.jpg" class="product-card__image bordered-image ">
                <h3 class="product-card__title">Full Body Workout</h3>
                <p class="product-card__author">By The Rock</p>
                <p class="product-card__description description">You can do it in your own home, all in under 30 mins? just need a mat and som . . .</p>
                <a href="#" class="product-card__button">Check out this program!</a>
            </article>
        </section>
    </div>
</article>