$content-width: 1110px;

$font: "Poppins", sans-serif;

$bg-color-dark: #161d30;
$bg-color-grad: linear-gradient(90deg, #09203F 0%, #161D2F 100%);

$title-color-dark: #262626;
$subtitle-color-dark: #222222;
$description-color-dark: #4B4B4B;
$product-card__button-color: #3043A9;

$heading-item-margin: 15px;